* {
    box-sizing: border-box; 
   
}

body {
    background-color: rgb(193, 216, 216);
    margin-top: 20px;
}

.cont {
  
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 15px 24px 5px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    font-size: 30px;
}

input[type='text'],
input[type='password']{
    width: 100%;
    padding: 16px;
    margin: 15px 0 22px 0;
    border: none;
    background-color: whitesmoke;
    font-size: 20px;
}

input[type='text']:focus,
input[type='password']:focus {

    background-color: rgb(199, 117, 117);
    outline: none;
}

.btn {
    width: 100%;
    background-color: teal;
    height: 31px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h1:hover {
    color: rgb(141, 141, 204);
}

.btn:hover   {
    background-color: green;
    opacity: 1;
}

marquee {
    color: rgb(211, 215, 178);
    font-size: 30px;
}

